extends ../layout
block content
    h1 Code extension Aufgabe erstellen
    form(action="/saveCreateCodeExtensionLesson" method="post")

        include ./baseCreateLessonForm

        div.input
            span.label Zu ergänzenden Code mit [input] als lücken
            br
            textarea(name="unfinishedCode" required) #{lesson ? lesson.unfinishedcode : ''}
        div.input
            span.label Zu ergänzender Code (pro Input eine Zeile in richtiger Reihenfolge)
            br
            textarea(name="answers" required) #{lesson ? lesson.answers : ''}
        div.actions
            input(type="submit" value="Aufagbe Speichern")

    include ../formError
    include ../files