block content
    button(type="button" class="btn imgButton" data-toggle="modal" data-target="#createCodeExtensionLesson")
        include ../../public/images/add-icon.svg
        br
        span Hinzuf체gen
    div(class="modal fade" id="createCodeExtensionLesson" tabindex="-1" role="dialog" aria-hidden="true")
        div(class="modal-dialog modal-dialog-centered" role="document")
            div(class="modal-content")
                div(class="modal-header")
                    h5(class="modal-title") Code Erg채nzungsaufagbe erstellen
                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                div(class="modal-body")
                    div(id="codeExtensionErrorMessage" class="errorMessage")
                        if codeExtensionErrorMessages
                            p #{codeExtensionErrorMessages}
                    form(class="modalForm" action="/saveCreateCodeExtensionLesson" method="post")
                        include ./baseCreateLessonForm
                        span.label(class="input-group-text") Zu erg채nzenden Code mit [input] als L체cken
                        textarea(class="form-control" name="unfinishedCode" required) #{lesson ? lesson.unfinishedcode : ''}
                        br
                        span.label(class="input-group-text") Antworten <br> (Pro Input eine Zeile. In richtiger Reihenfolge)
                        textarea(class="form-control" name="answers" required) #{lesson ? lesson.answers : ''}
                        br
                        button(type="button" class="btn btn-danger" data-dismiss="modal") Abbruch
                        button(class="btn btn-primary saveBt" type="submit") Speichern
                div(class="modal-footer")
                    include ../files
