block content
    button(type="button" class="btn createButton" data-toggle="modal" data-target="#createCodingLesson")
        img(class="add-image" src="/images/plus-icon.png")
    div(class="modal fade" id="createCodingLesson" tabindex="-1" role="dialog" aria-hidden="true")
        div(class="modal-dialog modal-dialog-centered" role="document")
            div(class="modal-content")
                div(class="modal-header")
                    h5(class="modal-title") Code Aufgabe erstellen
                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                div(class="modal-body")
                    div(id="codingErrorMessage" class="errorMessage")
                        if codingErrorMessages
                            p #{codingErrorMessages}
                    form(class="modalForm" action="/saveCreateCodingLesson" method="post")
                        include baseCreateLessonForm
                        span.label Aufgabenüberprüfungstyp
                        select(name="verificationtype" required)
                            option(value="JASMINE") Jasmine
                            option(value="SELF") Selbst
                        br
                        span.label Musterlösung
                        textarea(name="examplesolution" required) #{lesson ? lesson.examplesolution : ''}
                        br
                        span.label Überprüfungscode
                        textarea(name="verificationCode" required) #{lesson ? lesson.verificationcode : ''}
                        br
                        span.label Überprüfungsinformationen
                        textarea(name="verificationInformation" required) #{lesson ? lesson.verificationinformation : ''}
                        br
                        button(type="button" class="btn btn-danger" data-dismiss="modal") Abbruch
                        button(class="btn btn-primary saveBt" type="submit") Speichern
                    div(class="modal-footer")
                        include ../files
