block content
    button(type="button" class="btn imgButton" data-toggle="modal" data-target="#createCodingLesson")
        include ../../public/images/add-icon.svg
        br
        span Hinzufügen
    div(class="modal fade" id="createCodingLesson" tabindex="-1" role="dialog" aria-hidden="true")
        div(class="modal-dialog modal-dialog-centered" role="document")
            div(class="modal-content")
                div(class="modal-header")
                    h5(class="modal-title") Codeaufgabe erstellen
                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                div(class="modal-body")
                    div(id="codingErrorMessage" class="errorMessage")
                        if codingErrorMessages
                            p #{codingErrorMessages}
                    form(class="modalForm" action="/saveCreateCodingLesson" method="post")
                        include baseCreateLessonForm
                        span.label(class="input-group-text") Aufgabenüberprüfungstyp
                        select(class="form-select" name="verificationtype" required)
                            option(value="JASMINE") Jasmine
                            option(value="SELF") Selbst
                        br
                        span.label(class="input-group-text") Musterlösung
                        textarea(class="form-control" name="examplesolution" required) #{lesson ? lesson.examplesolution : ''}
                        br
                        span.label(class="input-group-text") Überprüfungscode
                        textarea(class="form-control" name="verificationCode" required) #{lesson ? lesson.verificationcode : ''}
                        br
                        span.label(class="input-group-text") Überprüfungsinformationen (HTML)
                        textarea(class="form-control" name="verificationInformation" required) #{lesson ? lesson.verificationinformation : ''}
                        br
                        button(type="button" class="btn btn-danger" data-dismiss="modal") Abbruch
                        button(class="btn btn-primary saveBt" type="submit") Speichern
                    div(class="modal-footer")
                        include ../files
