block content
    button(type="button" class="btn imgButton" data-toggle="modal" data-target="#createFillTheBlankLesson")
        include ../../public/images/add-icon.svg
        br
        span Hinzufügen
    div(class="modal fade" id="createFillTheBlankLesson" tabindex="-1" role="dialog" aria-hidden="true")
        div(class="modal-dialog modal-dialog-centered" role="document")
            div(class="modal-content")
                div(class="modal-header")
                    h5(class="modal-title") Lückentext Aufgabe erstellen
                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                div(class="modal-body")
                    div(id="errorFillTheBlankMessages" class="errorMessage")
                        if fillTheBlankError
                            p #{fillTheBlankError}
                    form(class="modalForm" action="/saveCreateFillTheBlankLesson" method="post")
                        include baseCreateLessonForm
                        span.label(class="input-group-text") Zu ergänzenden Text mit [input] als Lücken
                        textarea(class="form-control" name="textWithBlanks" required) #{lesson ? lesson.textWithBlanks : ''}
                        br
                        span.label(class="input-group-text") Mögliche Antworten: <br> Pro Antwort eine Zeile, <br> mindestens so viele wie es Inputs gibt. <br> Richtige Antworten mit einem [X] markieren
                        textarea(class="form-control" name="markedAnswers" required) #{lesson ? lesson.markedanswers : ''}
                        br
                        button(type="button" class="btn btn-danger" data-dismiss="modal") Abbruch
                        button(class="btn btn-primary saveBt" type="submit") Speichern
                div(class="modal-footer")
                    include ../files
