extends ../layout

block content
    h1 Coding Aufgabe erstellen

    form(action="/saveCreateCodingLesson" method="post")
        include baseCreateLessonForm
        div.input
            span.label Aufgabenüberprüfungstyp
            br
            select(name="verificationtype" required)
                option(value="JASMINE") Jasmine
                option(value="SELF") Selbst
        div.input
            span.label Musterlösung
            br
            textarea(name="examplesolution" required) #{lesson ? lesson.examplesolution : ''}
        div.input
            span.label Überprüfungscode
            br
            textarea(name="verificationCode" required) #{lesson ? lesson.verificationcode : ''}
        div.input
            span.label Überprüfungsinformationen
            br
            textarea(name="verificationInformation" required) #{lesson ? lesson.verificationinformation : ''}
        div.actions
            input(type="submit" value="Aufagbe Speichern")

    include ../formError

    include ../files
