extends ../layout

block content
    h1 Single- oder Multiple-Choice Aufgabe erstellen
    form(action="/saveCreateSingleMultipleChoiceLesson" method="post")
        include baseCreateLessonForm
        div.input
            span.label Mögliche Antworten mit [X] makieren wenn eine Lösung Richtig ist
            br
            textarea(name="markedOptions" required) #{lesson ? lesson.markedoptions : ''}
        div.actions
            input(type="submit" value="Aufagbe Speichern")

    include ../formError

    include ../files