extends ../layout

block content
    h1 Code extension Aufgabe bearbeiten

    form(action="/saveEditCodeExtensionLesson" method="post")
        include baseEditLessonForm
        div.input
            span.label Zu ergänzenden Code mit [input] als lücken
            br
            textarea(name="unfinishedCode" required) #{lesson.unfinishedcode}
        div.input
            span.label Zu ergänzender Code (pro Input eine Zeile in richtiger Reihenfolge)
            br
            textarea(name="answers" required) #{lesson.answers}
        div.actions
            input(type="submit" value="Aufagbe Speichern")

    include ../formError

    include ../files