extends ../layout

block content
    h1(class="headline")  Single- oder Multiple-Choice Aufgabe bearbeiten
    div(class="editLessonTileContainer")
        div(class="editLessonTile")
            form(class="modalForm" action="/saveEditSingleMultipleChoiceLesson" method="post")
                include ../formError
                include baseEditLessonForm
                span.label Mögliche Antworten mit [X] makieren wenn eine Lösung Richtig ist
                textarea(name="markedoptions" required) #{lesson.markedoptions}
                br
                button(class="btn btn-primary saveBt" type="submit") Speichern

        div(class="editLessonTile")
            include ../files