extends ../layout

block content
    h1 Fill the Blank Aufgabe bearbeiten

    form(action="/saveEditFillTheBlankLesson" method="post")
        include baseEditLessonForm
        div.input
            span.label Zu ergänzenden Text mit [input] als lücken
            br
            textarea(name="textWithBlanks" required) #{lesson.textwithblanks}
        div.input
            span.label Mögliche Antworte  (pro Antwort eine Zeile (mindestens so viele wie es Inputs gibt, richtige antworten mit einem [X] makieren)
            br
            textarea(name="markedAnswers" required) #{lesson.markedanswers}
        div.actions
            input(type="submit" value="Aufagbe Speichern")

    include ../formError

    include ../files