extends ../layout

block content
    h1(class="headline") Lückentextaufgabe bearbeiten
    div(class="editLessonTileContainer")
        div(class="editLessonTile")
            form(class="modalForm" action="/saveEditFillTheBlankLesson" method="post")
                include ../formError
                include baseEditLessonForm
                span.label(class="input-group-text") Zu ergänzender Text mit [input] als Lücken
                textarea(class="form-control" name="textWithBlanks" required) #{lesson.textwithblanks}
                br
                span.label(class="input-group-text") Mögliche Antworten: <br> Pro Antwort eine Zeile. <br> Mindestens so viele Antworten wie Inputs. <br> Richtige Antworten mit einem [X] markieren.
                textarea(class="form-control" name="markedAnswers" required) #{lesson.markedanswers}
                br
                button(class="btn btn-primary saveBt" type="submit") Speichern

        div(class="editLessonTile")
            include ../files
