extends ../layout

block content
    h1(class="headline") Fill the Blank Aufgabe bearbeiten
    div(class="editLessonTileContainer")
        div(class="editLessonTile")
            form(class="modalForm" action="/saveEditFillTheBlankLesson" method="post")
                include ../formError
                include baseEditLessonForm
                span.label(class="input-group-text") Zu ergänzenden Text mit [input] als lücken
                textarea(class="form-control" name="textWithBlanks" required) #{lesson.textwithblanks}
                br
                span.label(class="input-group-text") Mögliche Antworte <br> 1x [input] = min 1x Zeile <br> Richtige Antworten mit [X] makieren
                textarea(class="form-control" name="markedAnswers" required) #{lesson.markedanswers}
                br
                button(class="btn btn-primary saveBt" type="submit") Speichern

        div(class="editLessonTile")
            include ../files
