extends ../layout

block content
    h1(class="headline") Code extension Aufgabe bearbeiten
    div(class="editLessonTileContainer")
        div(class="editLessonTile")
            form(class="modalForm" action="/saveEditCodeExtensionLesson" method="post")
                include ../formError
                include baseEditLessonForm
                span.label(class="input-group-text") Zu ergänzenden Code <br> [input] = zu füllende Lücke
                textarea(class="form-control" name="unfinishedCode" required) #{lesson.unfinishedcode}
                br
                span.label(class="input-group-text") Antworten <br> 1x [Input] = 1 Zeile <br> Die Reihenfolge ist wichtig
                textarea(class="form-control" name="answers" required) #{lesson.answers}
                br
                button(class="btn btn-primary saveBt" type="submit") Speichern

        div(class="editLessonTile")
            include ../files
