extends ../layout

block content
    h1(class="headline") Code extension Aufgabe bearbeiten
    div(class="editLessonTileContainer")
        div(class="editLessonTile")
            form(class="modalForm" action="/saveEditCodeExtensionLesson" method="post")
                include ../formError
                include baseEditLessonForm
                span.label Zu ergänzenden Code mit [input] als lücken
                textarea(name="unfinishedCode" required) #{lesson.unfinishedcode}
                br
                span.label Zu ergänzender Code (pro Input eine Zeile in richtiger Reihenfolge)
                textarea(name="answers" required) #{lesson.answers}
                br
                button(class="btn btn-primary saveBt" type="submit") Speichern

        div(class="editLessonTile")
            include ../files
