extends ../layout

block content
    h1(class="headline") Fill the Blank Aufgabe bearbeiten
    div(class="editLessonTileContainer")
        div(class="editLessonTile")
            form(class="modalForm" action="/saveEditFillTheBlankLesson" method="post")
                include ../formError
                include baseEditLessonForm
                span.label Zu ergänzenden Text mit [input] als lücken
                textarea(name="textWithBlanks" required) #{lesson.textwithblanks}
                br
                span.label Mögliche Antworte  (pro Antwort eine Zeile (mindestens so viele wie es Inputs gibt, richtige antworten mit einem [X] makieren)
                textarea(name="markedAnswers" required) #{lesson.markedanswers}
                br
                button(class="btn btn-primary saveBt" type="submit") Speichern

        div(class="editLessonTile")
            include ../files
