extends ../layout

block content
    h1 Single- oder Multiple-Choice Aufgabe bearbeiten

    form(action="/saveEditSingleMultipleChoiceLesson" method="post")
        include baseEditLessonForm
        div.input
            span.label Mögliche Antworten mit [X] makieren wenn eine Lösung Richtig ist
            br
            textarea(name="markedoptions" required) #{lesson.markedoptions}
        div.actions
            input(type="submit" value="Aufagbe Speichern")

    include ../formError
    include ../files