:root {
    --white: #ffffff;
    --platinum: #e5e9ea;
    --beau-blue: #bcd4e7;
    --powder-blue: #c1e0df;
    --dark-sky-blue: #87b8cf;
    --davys-grey: #465155;
    --blue: #3d14d9;
    --davys-grey-light: #97a8ad;
    --light-gray: #e1e6e5;
    --beige: #f8f4ec;
    --dark-blue: #2c3e50;
    --darker-blue: #171329;
    --dark-green: #006400;
    --red: red;
    --light-red: #f2ebdc;
}