div(class="files")
    b
        span='Medien mit <img> oder <audio type="audio/mp3" controls src="angezeigter Name"> einbinden </audio>'
    br
    each file in files
        span(class="filePath") #{file.path}
