div(class="files")
    b
        span='Folgende Medien können mit <img src="angezeigter Name"> oder <audio type="audio/mp3" controls src="angezeigter Name"> eingebunden werden </audio>'
    br
    each file in files
        span(class="filePath") #{file.path}
