extends layout

block content
    h1= title
    p Welcome to #{title}
    if !isLoggedIn
        form(action="/login" method="post")
            div.input
                span.label Username
                input(type="text" name="username")
            div.input
                span.label Password
                input(type="password" name="password")
            div.actions
                input(type="submit" value="Log In")
    else
        h1 IDK
    //if logged in display Navigation