extends layout

block content
    if !isLoggedIn
        form(action="/login" method="post")
            div.input
                span.label Username
                br
                input(type="text" name="username")
            div.input
                span.label Password
                br
                input(type="password" name="password")
            div.actions
                input(type="submit" value="Log In")
    else

        h1(class="headline") Informationen
        div
            p Hier stehen nochmal die Hinweise, auf die man beim Einpflegen von Lerninhalten beachten soll.
        div(class="overview")
            div(class="tile")
                a(type="button" class="btn createButton" href="manual" target="_blank")
                    include ../public/images/manual.svg
                    br
                    span Anleitung Ansehen
            div(class="tile")
                span kurze Instruktsioneinheiten
            div(class="tile")
                span vertraute Begriffe
            div(class="tile")
                span bekanntes Bewertungssysteme / studenten sagen was geprüft wird bei Code aufgaben = tranzparenz
            div(class="tile")
                span auf einanderaufbauende Lerneinheiten /wissen aus vorherigenn Lerneinheiten anwenden /variation
            div(class="tile")
                span positiv motivierende Rückmeldungen (nicht zu viele) nicht glück gehabt oder so
            div(class="tile")
                span Simulationen echter Welt Projekte durch spannende Formulierungen der Aufgaben bzw
                span lerninhalte erforschen lassen also auch mal austest aufgaben ohne informationen
            div(class="tile")
                span personalisierte Sprache
            div(class="tile")
                span Voraussetzungen beschreiben am anfang
            div(class="tile")
                span nutzen beschreiben also das Warum
            div(class="tile")
                span über benötigtes Wissen informiere
            div(class="tile")
                span unerwartete Inhalte/ wiedersprüchliche Aussagen
            div(class="tile")
                span Humor
            div(class="tile")
                span metaphern Analogien/erwartungen beachten
            div(class="tile")
                span verschiedene Grafiken/Bilder/Grafiken/Audio
            div(class="tile")
                span Mit fragen oder Probleme Konfrontieren
            div(class="tile")
                span Nützlichkeit beschreiben, WARUM

            // nochmal wv checken (modelle)