extends layout

block content
    if !isLoggedIn
        form(action="/login" method="post")
            div.input
                span.label Username
                br
                input(type="text" name="username")
            div.input
                span.label Password
                br
                input(type="password" name="password")
            div.actions
                input(type="submit" value="Log In")
    else

        h1(class="headline") Informationen
        div(class="overview")
            div(class="tile informationTile")
                a(type="button" class="btn createButton" href="manual" target="_blank")
                    include ../public/images/manual.svg
                    br
                    span Anleitung Ansehen
            div(class="tile informationTile")
                h5 Hinweise für das Einpflegen von Lerninhalten
        div(class="overview")
            div(class="tile informationTile")
                span Die einzelnen Lerneinheiten sollten nicht zu lang sein. Es sollte auch beschrieben werden warum es sicht lohnt die Inhalte zu lernen (Zweck).

            div(class="tile informationTile")
                span Bei Allen Aufgaben soll den Studierenden klargemacht werden, was von ihnen genau von ihnen erwartet wird,
                br
                span Bei Code Aufgaben kann beschrieben werden, was genau getestet wird.

            div(class="tile informationTile")
                span Die verschiednenen Lerneinheiten sollten aufeinander aufbauen.

            div(class="tile informationTile")
                span Variationen in den lerneinheiten kann durch eine andere Formulierung erreicht werden. Es kann z.B. beschrieben werden das man XY für eine Firma prorammieren soll.

            div(class="tile informationTile")
                span Variation kann ebenfalls durch das Weglassen von erklärungen/Hinweisen erreicht werden, da die Studieren so mit Problemnen konfrontiert werden und die Lerningalte selbst erforschen können

            div(class="tile informationTile")
                span Nach dem lösen einer Aufgabe kann eine Rückmeldung angezeigt werden, diese soll positive Motivierend formuliert werden. Nicht bei jeder Aufgabe sind Rückmeldungen nötig & sinnvoll.

            div(class="tile informationTile")
                span Lerneinheiten sollen in der ersten oder zweiten Person geschrieben sein und Metaphern, Analogien und Begriffe, die die Studierenden kennen verwenden. Humor kann auch abundzu benutzt werden.

            div(class="tile informationTile")
                span Falls es bestimmte voraussetzungen zum lösen einer Aufgabe gibt oder spezielles Wissen benötigt wird, sollen diese dem Studierenden vorher genannt werden.

            div(class="tile informationTile")
                span Lerninhalte können durch unerwartete Inhalte, wiedersprüchliche Aussagen, Grafiken, Bilder und Gifs spannender gestaltet werden.