extends layout

block content
    if !isLoggedIn
        form(action="/login" method="post")
            div.input
                span.label Username
                br
                input(type="text" name="username")
            div.input
                span.label Password
                br
                input(type="password" name="password")
            div.actions
                input(type="submit" value="Log In")
    else
        h1(class="headline") Informationen
        div(class="overview")
            div(class="tile")
                span kurze Instruktsioneinheiten
            div(class="tile")
                span vertraute Begriffe
            div(class="tile")
                span bekanntes Bewertungssysteme / studenten sagen was geprpft wird bei Code aufgaben
            div(class="tile")
                span auf einanderaufbauende Lerneinheiten
            div(class="tile")
                span positiv motivierende Rückmeldungen (nicht zu viele)
            div(class="tile")
                span Simulationen echter Welt Projekte durch spannende Formulierungen der Aufgaben bzw
                span lerninhalte erforschen lassen also auch mal austest aufgaben ohne informationen
            div(class="tile")
                span personalisierte Sprache
            div(class="tile")
                span Voraussetzungen beschreiben am anfang
            div(class="tile")
                span nutzen beschreiben also das Warum
            div(class="tile")
                span über benötigtes Wissen informieren
            div(class="tile")
                span unerwartete Inhalte/ wiedersprüchliche Aussagen
            div(class="tile")
                span Humor
            div(class="tile")
                span metaphern Analogien

            // nochmal wv checken (modelle)