extends layout

block content
    if !isLoggedIn
        form(action="/login" method="post")
            div.input
                span.label Username
                br
                input(type="text" name="username")
            div.input
                span.label Password
                br
                input(type="password" name="password")
            div.actions
                input(type="submit" value="Log In")
    else
        h1(class="headline") Informationen
        div(class="overview")
