extends layout

block content
    if !isLoggedIn
        form(action="/login" method="post")
            div.input
                span.label Username
                br
                input(type="text" name="username")
            div.input
                span.label Password
                br
                input(type="password" name="password")
            div.actions
                input(type="submit" value="Log In")
    else
        h1(class="headline") Informationen
        div(class="overview")
            div(class="tile informationTile")
                a(type="button" class="btn createButton" href="manual" target="_blank")
                    include ../public/images/manual.svg
                    br
                    span Anleitung ansehen
            div(class="tile informationTile")
                a(type="button" class="btn createButton" href="/lti/registration" target="_blank")
                    include ../public/images/consumer-icon.svg
                    br
                    span Shared secret erstellen
            div(class="tile informationTile")
                h5 Hinweise für das Einpflegen von Lerninhalten
        div(class="overview")
            div(class="tile informationTile")
                span Lerneinheiten sollten kurz, aufeinander aufbauend und in ihrer Schwierigkeit steigend sein.

            div(class="tile informationTile")
                span Den Lernenden muss bewusst gemacht werden, warum er diese Lerninhalte lernen soll und was von ihm erwartet wird.

            div(class="tile informationTile")
                span Bei Codeaufgaben soll beschrieben werden was genau überprüft wird.

            div(class="tile informationTile")
                span Variationen in den Lerneinheiten kann durch eine andere Formulierung erreicht werden. Es kann z.B. beschrieben werden, dass man XY für eine Firma programmieren soll.

            div(class="tile informationTile")
                span Variation kann ebenfalls durch das Weglassen von Erklärungen/Hinweisen erreicht werden, da die Studierenden so mit Problemen konfrontiert werden und die Lerninhalte selbst erforschen werden können.

            div(class="tile informationTile")
                span Rückmeldungen sollen positiv motivierend formuliert werden.

            div(class="tile informationTile")
                span Lerneinheiten sollen in der ersten oder zweiten Person geschrieben..

            div(class="tile informationTile")
                span In den Lerneinheiten sollen Metaphern, Analogien und Begriffe, die die Studierenden kennen verwenden.

            div(class="tile informationTile")
                span Ein wenig Humor kann auch in den Lerninhalten verwendet werden.

            div(class="tile informationTile")
                span Falls es bestimmte Voraussetzungen zum Lösen einer Aufgabe gibt oder spezielles Wissen benötigt wird, sollen diese dem Studierenden vorher genannt werden.

            div(class="tile informationTile")
                span Lerninhalte können durch unerwartete Inhalte, widersprüchliche Aussagen, Grafiken, Bilder und GIFs spannender gestaltet werden.