div(class="navigation")
    nav(class="navbar navbar-toggler navbar-light bg-light")
        a(class="navbar-brand" href='/') Home
        a(class="navbar-brand" href='/chapter') Kapitel bearbeiten
        a(class="navbar-brand" href='/notifications') Meldungen
        //a(class="navbar-brand" href='/overview') Nutzer übersicht