doctype html
html
    head
        title Learn Web Apps Backoffice
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
        script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")

    script.
        function submitForm() {
            document.getElementById("errorMessages").innerText = ''
            document.getElementById("ltiRegistrationForm").submit()
            document.getElementById("ltiRegistrationForm").reset()
        }
    body
        form(class="modalForm" action="/lti/registration" id="ltiRegistrationForm",method="post")
            include ../formError
            span.label(class="") Consumer key (eindeutiger identifier deines LMS)
            input(class="form-control" type="text" name="consumerKey" maxlength="100" required)
            br
            button(class="btn btn-primary saveBt" onclick="submitForm()") Shared secret anfordern